{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- view property section -->
  <section class="view-property">
    <div class="details">
      <div class="thumb">
        <div class="big-image">
          <img src="{{ product.images.url }}" alt="">
        </div>
        <div class="small-images">
          <img src="{{ product.images.url }}" alt="">
          {% for image in product.image_set.all %}
            <img src="{{ image.image.url }}" alt="">
<!--          <img src="{{ product.image.url }}" alt="">-->
<!--          <img src="images/kitchen-img-1.webp" alt="">-->
<!--          <img src="images/bathroom-img-1.webp" alt="">-->
          {% endfor %}
        </div>
      </div>
      <h3 class="name">{{ product.name }}</h3>
      <p class="location"><i class="fa fa-map-marker-alt"></i><span>{{ product.location }}</span></p>
      <div class="info">
        <p><i class="fa fa-tag"></i><span>{{ product.price }}</span></p>
        <p><i class="fa fa-phone"></i><a href="tel:123456789">{{ product.number }}</a></p>
        <p><i class="fa fa-building"></i><span>{{ product.category }}</span></p>
<!--        <p><i class="fa fa-house"></i><span>продать</span></p>-->
        <p><i class="fa fa-calendar"></i><span>{{ product.date }}</span></p>
      </div>
      <h3 class="title">детали</h3>
      <div class="flex">
        <div class="box">
          <p><i>комнаты :</i><span>{{ product.rooms }}</span></p>
          <p><i>состояние :</i><span>{{ product.status }}</span></p>
          <p><i>спальня :</i><span>{{ product.bedroom }}</span></p>
          <p><i>ванная :</i><span>{{ product.bathroom }}</span></p>
          <p><i>балкон :</i><span>{{ product.balcony }}</span></p>
        </div>
        <div class="box">
          <p><i>площадь :</i><span>{{ product.square }}</span></p>
<!--          <p><i>срок :</i><span>{{ product.age }}</span></p>-->
          <p><i>количество этажей :</i><span>{{ product.floors }}</span></p>
          <p><i>мебель :</i><span>{{ product.furnish }}</span></p>
          <p><i>документы :</i><span>{{ product.documents }}</span></p>
        </div>
      </div>
      <p class="description">{{ product.description }}</p>
<!--      <form action="" method="post">-->
<!--        {% csrf_token %}-->
<!--        <input  type="submit" class="submit inline-btn" value="Связаться">-->
<!--      </form>-->
      <a class="submit inline-btn" href="https://wa.me/+996556016501">Связаться</a>
    </div>
  </section>
{% endblock %}

{% block footer %}
  <footer class="footer">
    <section class="flex">
      <div class="box">
        <a href="tel:123456789"><i class="fa fa-phone"></i><span>123456789</span></a>
        <a href="tel:111111111"><i class="fa fa-phone"></i><span>111111111</span></a>
        <a href="mailto:example@gmail.com"><i class="fa fa-envelope"></i><span>example@gmail.com</span></a>
        <a href="#"><i class="fa fa-map-marker-alt"></i><span>бишкек, кыргызстан</span></a>
      </div>

      <div class="box">
      <a href="{% url 'main:index' %}"><span>главная</span></a>
      <a href="{% url 'main:about' %}"><span>о нас</span></a>
    </div>

      <div class="box">
        <a href="#"><span>facebook</span><i class="fab fa-facebook-f"></i></a>
        <a href="#"><span>twitter</span><i class="fab fa-instagram"></i></a>
        <a href="#"><span>telegram</span><i class="fab fa-telegram"></i></a>
      </div>
    </section>
  </footer>
{% endblock %}